{%extends 'main.html'%}

{%block content%}
    <div class="bg-dark vh-100 container p-4">
        <h1 class="text-center text-warning text-decoration-underline fw-bolder">Enter new password</h1><br>
        <p class="text-white fs-5 fw-bold">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <div class="text-white">
            <form action="" method="post">
                {%csrf_token%}
                <label for="password1" class="col-md-2 col-form-label py-3">New Password: </label>
                {{form.new_password1}}
                <br>
                <label for="password2" class="col-md-2 col-form-label pt-3 pb-5">Confirm Password: </label>
                {{form.new_password2}}
                <br>
                <button class="btn btn-primary btn-lg" type="submit">Change my password</button>
            </form>
        </div>
    </div>
{%endblock%}