{%extends 'main.html'%}

{%block content%}
    <div class="bg-dark vh-100 container">
        <h1 class="text-warning text-center text-decoration-underline fw-bolder">Password reset</h1><br>
        <p class="text-white fs-5 fw-bold">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

        <div class="text-white">
            <form action="" method="post">
                {%csrf_token%}
                <label for="" class="col-md-2 col-form-label">{{form.label}}</label>
                <div class="col-lg-10">{{form}}</div>
                <br>
                <button class="btn btn-primary btn-lg" type="submit">Reset my password</button>
            </form>
        </div>
    </div>
{%endblock%}