{%extends 'main.html'%}

{%block content%}
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-6 col-xl-10">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center bg-success">                    
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                {%csrf_token%}
                                <h2 class="fw-bold pb-5 text-uppercase">Update your profile</h2>

                                {%for f in form%}
                                    <div class="form-outline form-white pt-4">
                                        {{f}}
                                    </div>
                                {%endfor%}
                
                                <button class="btn btn-outline-light btn-lg mt-5" type="submit">Update</button>
                
                            </div>
                        </form>        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}